# Practical activity 1.2.8: Identify, interpret, and fix the errors
### Andreas Yiallouros, 17 September 2022

### Code 1

In [1]:
# Print the price
    sales_price = 24500
    
    print(total_price)

IndentationError: unexpected indent (2985161806.py, line 2)

The error message indicates there is an indentation in the wrong place.

Indentation affects how the code is ran. Therefore, unnescesary indentations can cause logical errors.

Fix: Remove the indentation in each of the two lines.

I realised that I caused the indentation error with the way I copied the code into my Jupyter Notebook! Oops!

In [2]:
# Print the price
sales_price = 24500
    
print(total_price)

NameError: name 'total_price' is not defined

total_price is not defined. This is a logical error.

Fix: Replace total_price with sales_price

In [3]:
# Print the price
sales_price = 24500
    
print(sales_price)

24500

Success!

### Code 2

In [5]:
# Print a text string verbatim
print "My name is James Bond"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("My name is James Bond")? (1268318779.py, line 2)

The nature of the error is clear from the error message - missing parentheses

Fix: Delete space between the command word print and the string and open parentheses before the string and and close parentheses after the string.

In [6]:
# Print a text string verbatim
print("My name is James Bond")

My name is James Bond

Success!

### Code 3

In [7]:
# Determine if x is greater than 10
x = 11 

if x > 10:
print('X is greater than 10')
else: 
    print('x is not greater than 10')

IndentationError: expected an indented block (3142826171.py, line 5)

The nature of the error is again clear from the error message - Indentation was needed at the third line of code... 

Fix: Add indentation (four spaces)

In [8]:
# Determine if x is greater than 10
x = 11 

if x > 10:
    print('X is greater than 10')
else: 
    print('x is not greater than 10')

X is greater than 10

Success!

### Code 4

In [9]:
# Create the variable list_a
list_a = [1,2,3,4,'Ayaan', 'Hirsi']

list_a[11]

IndexError: list index out of range

This was an index error. The second line of the code was asking for the 12th item in the list, but the list only has six items. (Note that inices in Python start at 0) 

Fix: Choose an item from within the range from 0 to 5... (for example 0)

In [16]:
# Create the variable list_a
list_a = [1,2,3,4,'Ayaan', 'Hirsi']

list_a[0]

1

Successs